/*#results{
	position: relative;
	width: 600px;
	height: 500px;
	background: #CCCCCC;
	
}
#left-column{
	position:absolute;
	right:5px;
	top:5px;
	border:2px solid #900;
	padding:0.4em;
	width:120px;
	background-color:#fafafa;
	color: #900;
}
#middle-column{
	position:absolute;
	right:5px;
	top:5px;
	border:2px solid #900;
	padding:0.4em;
	width:120px;
	background-color:#fafafa;
	color: #900;
}
#right-column{
	position:absolute;
	left:5px;
	bottom:5px;
	border:2px solid #900;
	padding:0.4em;
	width:120px;
	background-color:#fafafa;
	color: #900;
}*/